.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.todolist-card {
  width: 377px;
  min-height: 350px;
  /* background-color: gray; */
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* align-items: center; */
}
.title {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  gap: 6px;
}
.search-input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
}
.add-button {
  width: 59px;
  height: 45px;
  border-radius: 6px;
  background-color: #3c82f6 !important;
  color: #f9f9f9 !important;
  border: none;
}

.all-button {
  width: 38px;
  height: 32px;
  border-radius: 6px;
  background-color: #3c82f6;
  color: #363636;
  border: none;
  /* text-align: center; */
}
.active-button {
  width: 60px;
  height: 32px;
  border-radius: 6px;
  background-color: #f3f4f6;
  color: #363636;
  border: none;
}
.completed-button {
  border: none;
  width: 87px;
  height: 32px;
  border-radius: 6px;
  background-color: #f3f4f6;
  color: #363636;
}
.section {
  display: flex;
  gap: 6px;
  padding-left: 16px;
}
.todolist-text {
  font-weight: 400;
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}
.footer-text {
  display: flex;
  gap: 4px;
  justify-content: center;
  display: inline-flex;
}
.powered-by-text {
  font-weight: 400;
  font-size: 12px;
  color: #6b7280;
}
.pinecone-text {
  font-weight: 400;
  font-size: 12px;
  color: #3b73ed;
}
.newtask-text {
  width: 345px;
  height: 62px;
  border-radius: 6px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content:space-between ;
  margin-left: 16px;
}
.check-box {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-bottom: 21px;
  margin-top: 21px;
  margin-right: 10px;
}

.delete-text {
  width: 67px;
  height: 30px;
  background-color: #fef2f2;
  border-radius: 6px;
  border: none;
  color: #ef4444 !important;
  font-weight: 400;
  font-size: 14px;
  margin-right: 16px;
}
.newtodo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.new-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-completed{
  width: 345px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  /* margin-right: 16px; */
}
.donecount-text{
  font-weight: 400;
  font-size: 14px;
  color: #6B7280;
}
.clear-text{
font-weight: 400;
  font-size: 14px;
  color: #EF4444;
  border: none;
  background-color: transparent;
}
